<div class="page-header">
  <%= link_to new_room_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Добавить номер
  <% end %>
  <h1>Список номеров</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">

    <tbody>
      <%= content_tag_for(:tr, @rooms) do |room| %>
      
      			<td><%= image_tag(room.image_url, class: 'list-image') %></td>
      			
            <td class = "title_and_type">
            	<dt><%= room.title %> <%= room.roomtype %></dt>
            	<hr>
            	<dn> <b>Цена:</b> <%= number_to_currency(room.price, :unit => 'Руб', 
            												:format => "%n %u") %>/сутки</dn>
            	<hr>
            	<dn> <b>Количество:</b> <%= room.quantity %></dn>
            </td>
            
            <td class = "list_description"><u>В номер включено:</u> <%= truncate(
            																	strip_tags(room.description), length: 300) %></td>
         	
            <td class = "list_actions">
            <%= link_to 'Show', room %><br>
        		<%= link_to 'Edit', edit_room_path(room) %><br>
        		<%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %>	
        		</td>
      <% end %>
    </tbody>
  </table>
</div>
